﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IssuesTracking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Issues Tracking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ro">
                @if (Session["UserID"] != null)
                {
                    <li class="nav-item col-md-2">
                        <a>@Html.ActionLink("Clients", "Index", "Clients")</a>
                    </li>
                }
                @if (Session["UserID"] != null)
                {
                    <li class="nav-item col-md-2">
                        <a>@Html.ActionLink("Contacts", "Index", "Contacts")</a>
                    </li>
                }
                @if (Session["UserID"] != null)
                {
                    <li class="nav-item col-md-2">
                        <a>@Html.ActionLink("Meetings", "Index", "Meetings")</a>
                    </li>
                }
                @if (Session["UserID"] != null)
                {
                    <li class="nav-item col-md-2">
                        <a>@Html.ActionLink("Tickets", "Index", "Tickets")</a>
                    </li>
                }
                @if (Session["UserID"] != null)
                {
                    <li class="nav-item col-md-2">
                        <a>@Html.ActionLink("States", "Index", "TicketStates")</a>
                    </li>
                }
                @if (Session["UserID"] != null)
                {
                    <li class="nav-item col-md-2">
                        <a>@Html.ActionLink("Areas", "Index", "Areas")</a>
                    </li>
                }
                @if (Session["UserID"] != null)
                {
                    <li class="nav-item col-md-2">
                        <a>@Html.ActionLink("Users per meeting", "Index", "UsersByMeetings")</a>
                    </li>
                }
                @if (Session["UserID"] != null && Session["UserType"].ToString() == "admin")
                {
                    <li class="nav-item col-md-2">
                        <a>@Html.ActionLink("Users", "Index", "SystemUsers")</a>
                    </li>
                }
            </ul>
            @if (Session["UserID"] != null)
            {
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">@Html.ActionLink("Logout", "Logout", "Home")</button>
                </form>
            }
        </div>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/bundles/jqueryval"></script>
</body>
</html>