﻿@model FirstProjectAsp.Models.Meeting

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <span>@Html.ActionLink("Back", "Index", new { @class = "btn btn-outline-primary" })</span>

                </div>
                <div class="col-md-8">
                    <center><h4>Area</h4></center>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        Title
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Date
                        <div class="col-md-10" id='datetimepicker3'>
                            @Html.EditorFor(model => model.MeetingDate, new { htmlAttributes = new { @class = "form-control", @id= "datetimepicker4" } })
                            @Html.ValidationMessageFor(model => model.MeetingDate, "", new { @class = "text-danger" })
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker3').datetimepicker({
                                    language: 'pt-BR'
                                });
                            });
                        </script>
                    </div>

                    <div class="form-group">
                        Virtual?
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsVirtual)
                                @Html.ValidationMessageFor(model => model.IsVirtual, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        Client
                        <div class="col-md-10">
                            @Html.DropDownList("IdClient", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdClient, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
}