﻿@model FirstProjectAsp.Models.Meeting

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>
<br>
<h4>Are you sure you want to delete this meeting?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>

        <dt>
            Is Virtual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVirtual)
        </dd>

        <dt>
            Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
