﻿@model FirstProjectAsp.Models.TicketState

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <span>@Html.ActionLink("Back", "Index", new { @class = "btn btn-outline-primary" })</span>

                </div>
                <div class="col-md-8">
                    <center><h4>State</h4></center>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    State
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AreaName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AreaName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>