﻿@model FirstProjectAsp.Models.TicketState

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<h4>Are you sure you want to delete this state?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
