﻿
@{
    ViewBag.Title = "NotPer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<br>
<div class="jumbotron">
    <h2>Please, <a>@Html.ActionLink("Login", "Login", "Home")</a> into our system!</h2>
</div>