﻿@model FirstProjectAsp.Models.Area

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<h4>Are you sure you want to delete this area?</h4>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Area</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(model => model.AreaName)
                    </td>
                </tr>
        </tbody>
    </table>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
