﻿@model FirstProjectAsp.Models.Area

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Area</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">
                    @Html.DisplayFor(model => model.AreaName)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
