﻿@model IEnumerable<FirstProjectAsp.Models.Area>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Area</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.AreaName)
                            </td>
                            <td>

                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
