﻿@model FirstProjectAsp.Models.Client

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <span>@Html.ActionLink("Back", "Index", new { @class = "btn btn-outline-primary" })</span>

                </div>
                <div class="col-md-8">
                    <center><h4>Client</h4></center>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        Name
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        DNI
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        WebSite
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Address
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ClientAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Phone Number
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                       Area
                        <div class="col-md-10">
                            @Html.DropDownList("Area", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
}