﻿@model FirstProjectAsp.Models.SystemUser

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header badge-dark">
                            <br>
                            <h5>
                                Login
                            </h5>
                            <br>
                        </div>
                        <div class="card-body">
                            <br>
                            <span class="card-text">DNI</span>
                            <br>
                            <center><span>@Html.TextBoxFor(a => a.Dni, new { @class = "input-group-text" })</span></center>
                            <span>@Html.ValidationMessageFor(a => a.Dni)</span>
                            <br>
                            <span class="card-text">Password</span>
                            <br>
                            <center><span>@Html.PasswordFor(a => a.UserPassword, new { @class = "input-group-text" })</span></center>
                            <span>@Html.ValidationMessageFor(a => a.UserPassword)</span>
                            <br>
                            <input href="#" type="submit" class="btn btn-dark" value="Login" />
                            <br>
                        </div>
                        <br>
                        <div class="card-footer text-muted badge-dark">
                            <div class="container">
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <br>
    </fieldset>
}  