﻿@model FirstProjectAsp.Models.Ticket

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <span>@Html.ActionLink("Back", "Index", new { @class = "btn btn-outline-primary" })</span>

                </div>
                <div class="col-md-8">
                    <center><h4>Ticket</h4></center>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        Title
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Detail
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Reporter
                        <div class="col-md-10">
                            @Html.DropDownList("Reporter", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Reporter, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Client
                        <div class="col-md-10">
                            @Html.DropDownList("Client", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        State
                        <div class="col-md-10">
                            @Html.DropDownList("TicketState", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TicketState, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
}