﻿@model FirstProjectAsp.Models.Ticket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<h4>Are you sure you want to delete this ticket?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Detail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client1.ClientName)
        </dd>

        <dt>
            Reporter
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemUser.UserName)
        </dd>

        <dt>
            Area
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketState1.AreaName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
