﻿@model FirstProjectAsp.Models.Ticket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client1.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client1.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketState1.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketState1.AreaName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
